:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333333;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #B6932E;
  text-decoration: inherit;
}

a:hover {
  color: #a07e1a;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #B6932E;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #a07e1a;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select {
  font-family: inherit;
  color: #333;
  background-color: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #333333;
    background-color: #ffffff;
  }
  
  a:hover {
    color: #a07e1a;
  }
  
  button {
    background-color: #B6932E;
    color: white;
  }
  
  select {
    color: #333;
    background-color: #fff;
  }
}